* {
	/*box-sizing: border-box;*/
}

body {
	background: #DADADA;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}
.blue{
    width: 190px;
    height: 99px;
    transform: skew(250deg,-10deg);
    background: #5b5884;
    top: 396px;
    left: 473px;
    position: absolute;
    z-index: 1;
}
.white{
	width: 195px;
    height: 33px;
    transform: skewY(-10deg);
    background: #cdbbab;
    top: 500px;
    left: 609px;
    position: absolute;
    z-index: 1;
}
.white1{
	width: 272px;
    height: 35px;
    transform: skewY(20deg);
    background: #474561;
    top: 468px;
    left: 334px;
    position: absolute;
    z-index: 1;
}
.tail{
    width: 128px;
    height: 190px;
    border-radius: 50% 55% 0 0;
    top: 67px;
    left: 499px;
    position: absolute;
    transform: skew(5deg) rotateX(-10deg) rotateY(30deg);
    background: #f9f9f9;
}
.body{
    position: absolute;
    width: 210px;
    height: 119px;
    top: 246px;
    left: 509px;
    background: #f9f9f9;
    border-radius: 50% / 10%;
    color: white;
    text-align: center;
    text-indent: .1em;
      z-index:2;
}
.body:before {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      right: -5%;
      left: -5%;
      background: inherit;
      border-radius: 5% / 50%;
      z-index:2;
}
.ear1{
    position: absolute;
    top: 219px;
    left: 684px;
    display: block;
    width: 42px;
    height: 45px;
    background-color: #f9f9f9;
    border-radius: 64% 18% 40% 40% / 52% 60% 40% 40%;
    z-index: 3;
}
.ear2{
    position: absolute;
    top: 222px;
    left: 647px;
    display: block;
    width: 37px;
    height: 41px;
    background-color: #f9f9f9;
    border-radius: 71% 61% 59% 57% / 99% 86% 52% 59%;
    z-index: 3;
}
.leg1{
    position: absolute;
    top: 355px;
    left: 647px;
    display: block;
    width: 29px;
    height: 62px;
    background-color: #f9f9f9;
    border-radius: 71% 61% 59% 57% / 99% 86% 52% 59%;
    z-index: 3;
}
.leg2{
    position: absolute;
    top: 348px;
    left: 688px;
    display: block;
    width: 29px;
    height: 62px;
    background-color: #f9f9f9;
    border-radius: 71% 61% 59% 57% / 99% 86% 52% 59%;
    z-index: 3;
}
.leg3{
    position: absolute;
    top: 341px;
    left: 517px;
    display: block;
    width: 30px;
    height: 62px;
    background-color: #f9f9f9;
    border-radius: 71% 61% 59% 57% / 99% 86% 52% 59%;
    z-index: 3;
}
.leg4{
    position: absolute;
    top: 337px;
    left: 574px;
    display: block;
    width: 30px;
    height: 62px;
    background-color: #f9f9f9;
    border-radius: 71% 61% 59% 57% / 99% 86% 52% 59%;
    z-index: 3;
}

