body{
	font-size: 20px; margin: 0;
}

#container-2{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}

.position-fixed-1{
	position:absolute;
	top:20px;
	left:20px;
}

.position-fixed-2{
	position:fixed;
	top:120px;
	left:-80px;
	z-index:1;
}

.position-fixed-3{
	position:absolute;
	top:220px;
	left:20px;
	z-index:2;
}

.position-fixed-4{
	position:fixed;
	top:320px;
	left:120px;
	z-index:3;
}
.position-fixed-5{
	position:absolute;
	top:420px;
	left:220px;
	z-index:4;
}
.position-fixed-6{
	position:fixed;
	top:520px;
	left:-80px;
	z-index:5;
}

.position-fixed-7{
	position:absolute;
	top:620px;
	left:20px;
	z-index:6;
}

.position-fixed-8{
	position:fixed;
	top:720px;
	left:120px;
	z-index:7;
}

.position-fixed-9{
	position:absolute;
	top:820px;
	left:220px;
	z-index:8;
}

.position-fixed-10{
	position:fixed;
	top:920px;
	left:20px;
	z-index:9;
}

.position-fixed-11{
	position:absolute;
	top:1020px;
	left:20px;
	z-index:10;
}

.position-fixed-12{
	position:absolute;
	top:1220px;
	left:220px;
	z-index:11;
}
.position-fixed-13{
	position:absolute;
	top:1420px;
	left:20px;
	z-index:12;
}
.position-fixed-14{
	position:absolute;
	top:1620px;
	left:220px;
	z-index:13;
}
.position-fixed-15{
	position:absolute;
	top:1820px;
	left:20px;
	bottom: -100px;
	z-index:14;
}
.circle-transparent-1{
	width: 200px;
	height: 200px;
	background-color: #f3e5c900;
	border-radius: 50%;
	display: inline-block;
	margin:-1px;
	box-shadow: inset 0 0 0 0.1em #99b3c8;
}

.circle-transparent-2{
	width: 200px;
	height: 200px;
	background-color: #f3e5c9;
	border-radius: 50%;
	display: inline-block;
	margin:-1px;
}
.circle-half{
	width: 200px;
	height: 100px;
	background-color: #f3e5c900;
	border-top-left-radius: 100px;
	border-top-right-radius:100px;
	border:10px;
	border-bottom: 0;
	display: inline-block;
	margin:-1px;
	box-shadow: inset 0 0 0 0.1em #99b3c8;
}